/*  */




/*  */
.qpanel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ucours_t{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}
.ucours_tl{
    position: relative;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ucours_tm{
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}
.ucours_tmas{
    position: absolute;
    z-index: 1;
    width: 300vw;
    height: 300vh;
    top: -100vh;
    left: -100vw;
    visibility: hidden;
    cursor: auto;
}
.ucours_tm_act .ucours_tmas{
    visibility: visible;
}
 
.ucours_tmi{
    position: relative;
    width: auto;
    height: 44px;
    min-width: 44px;
    min-height: 44px;
    padding: 0 32px;
    border-radius: 44px;
    font-size: 14px;
    background: var(--tr);
    border: 1px solid var(--bl);
    transition: .3s;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}
.ucours_tmi:hover{}
.ucours_tm:last-child, .ucours_tmb{margin-right:0}
.ucours_tmb{margin-left:5px}
.ucours_tm_act{}
 
 .ucours_tmic{
     font-size: 12px;
     margin: 0 10px 0 -5px;
 }
 .ucours_tmis{
     font-size: 12px;
     margin: 3px -5px 0 12px;
 }
 .ucours_tmi span{}
 
 .ucours_tma{
     top: 64px;
     right: -50px;
     max-height: 380px;
     overflow-y: auto;
     z-index: 3;
 }
 .ucours_tm_act .ucours_tma{
     visibility: visible;
     opacity: 1;
     right: 0;
 }
 .ucours_tma::-webkit-scrollbar{
     width: 8px;
     height: 8px;
 }
 .ucours_tma::-webkit-scrollbar-thumb{border:none}
 














.ucours_tr{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.ucours_trn{
	position: relative;
	font-size: 12px;
}
.ucours_trnc{
	position: relative;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ucours_trnci{
	position: relative;
	width: 100%;
	width: 34px;
	height: 34px;
	border-radius: 34px;
	border: 1px solid var(--gr2);
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	padding-right: 2px;
	background: var(--tr);
	transition: .3s;
	cursor: pointer;
}
.ucours_trnci:last-child{
	margin-right: 0;
	padding-right: 0;
}
.ucours_trnci:hover{background:var(--cl1)}
.ucours_trnci_ds{opacity:.5;cursor:text}
.ucours_trnci_ds:hover{background:var(--tr)}












/*  */
.qtable{
    overflow-y: auto;
    padding: 0 0 15px 0;
}


table{
    /* border-collapse: collapse; */
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
}
tr{

}
.qtable_all{
    background: var(--bl7);
}
.qtable_all th{
    color: var(--wh);
}
/* tr:nth-child(even){background-color:#f2f2f2} */
tbody tr:hover {background-color:var(--gr3)}

td, th{
    border-left: 1px solid var(--gr3);
    border-top: 1px solid var(--gr3);
    padding: 15px 20px;
    white-space: nowrap;
    min-height: 30px;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #04AA6D; */
    /* color: white; */
    width: auto;
    white-space: nowrap;
    font-weight: normal;
    color: var(--bl5);
    font-size: 12px;
}
tr:first-child th:first-child{
    border-top-left-radius: 12px;
}
tr:first-child th:last-child{
    border-top-right-radius: 12px;
}

tr:last-child td{
    border-bottom: 1px solid var(--gr3);
}
tr td:last-child, tr th:last-child{
    border-right: 1px solid var(--gr3);
}



.qtable_mn140{
    min-width: 140px;
}

.qtable_n{
    min-width: 60px;
}
.qtable_id{
    min-width: 120px;
}
.qtable_ph{}
.qtable_2dt{
}
.qtable_sn{
}
td .fr_price{
    text-align: right;
}
td .fr_phone{
    text-align: right;
}




.qtable::after{
    border: 1px solid var(--gr3);
    border-top: 0;
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*  */
.qtable::-webkit-scrollbar{
    width: 8px;
	height: 8px;
}
.qtable::-webkit-scrollbar-button{
	background: var(--tr);
    display: block;
    width: 10px;
    height: 10px;
}
.qtable::-webkit-scrollbar-thumb{
	background: var(--gr5);
    border: 2px solid var(--bag);
}
.qtable::-webkit-scrollbar-thumb:hover{
    border: 0 solid var(--bag);
	background: var(--gr7);
}
.qtable::-webkit-scrollbar-track{background:var(--tr)}
.qtable::-webkit-scrollbar-track-piece{background:var(--tr)}
/* @media(max-width:780px){::-webkit-scrollbar{display:none}} */









/*  */
.qtable_btnc{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.qtable_btn{
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    margin-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.qtable_btn:last-child{
    margin-right: 0;
}
.qtable_btn:hover{
    background: var(--gr5);
}